<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="linear">
            <div>0deg</div>
            <div>90deg</div>
            <div>-90deg</div>
            <div>180deg</div>
            <div>45deg</div>
            <div>-45deg</div>
            <div>135deg</div>
            <div>-135deg</div>
            <div>90deg</div>
            <div>自定义</div>
        </div>

        <div class="radial">
            <div></div>
            <div>circle</div>
            <div>ellipse</div>
            <div>自定义</div>
            <div>自定义</div>
            <div>自定义</div>
            <div>自定义</div>
            <div>自定义</div>
        </div>
    </body>
</html>