<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="base-border">
            <span class="triangle"></span>
            <span class="radius"></span>
            <span class="radius2"></span>
            <span class="radius3"></span>
            <span class="radius4"></span>
            <span class="radius5"></span>
        </div>
    </body>
</html>