<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="parent">

            <p>这是段落</p>

            <div class="child1">
                <div class="sunzi1">
                    <p>这是段落</p>
                </div>

                <p>这是段落</p>
            </div>

            <p>这是段落</p>

            <p>这是段落</p>
        </div>

        <div></div>

        <h1 id="title">这是一个标题</h1>

        <div class="wei-class">
            <a href="#title">这是一个链接</a>
            <a href="#">这是一个链接</a>
            <a href="#">这是一个链接</a>
            <a href="#">这是一个链接</a>
            <label for="">
                <input type="checkbox" name="" value="">复选框
            </label>
            <label for="">
                <input type="radio" name="" value="">单选框
            </label>
            <input type="text" disabled='true' name="" value="xxxxxxx">
            <a href="#">这是一个链接</a>
        </div>

        <div>
            <ul>
                <li>one</li>
                <li>two</li>
                <li>three</li>
            </ul>
        </div>
    </body>
</html>