* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-left: 100px;
    background: forestgreen;
    color: #FFF;
}

.box {
    padding: 1em;
    width: 300px;
    /*height: 200px;*/
    color: #ccc;
    background: #FFF;
}

.bg-clip {
    border: 10px solid hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
    /*background-clip: content-box;*/
    /*background-clip: border-box;*/
}

.box-shadow {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 10px #655, 
                0 0 0 15px deeppink,
                5px 5px 5px 15px rgba(0, 0, 0, .6);

    border-radius: 4px;
    border: 5px solid fuchsia;
    outline: 5px dotted yellow;
    outline-offset: 0px;
}

.bg-position {
    height: 300px;
    background: url(1.png) no-repeat #58a;
    border: 10px solid rgba(0, 0, 0, .6);

    background-position: right 20px bottom 10px;
    background-origin: content-box;
}

.border-radius {
    margin: 10px 0;
    background: #FFF;
    border-radius: .8em;
    box-shadow: 0 0 0 .6em #655;
    outline: .6em solid #655;
}

.line-gradient {
    padding: 1em;
    overflow: hidden;
}

.box-fixed {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 200px;
}

.box-x {
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 30px;
}

.box-y {
    background: linear-gradient(to right, #fb3 50%, #58a 50%);
    background-size: 30px 100%;
}

.box-xy {
    background: linear-gradient(45deg, #fb3 25%, #58a 25%, #58a 50%, #fb3 50%, #fb3 75%, #58a 75%);
    background-size: 42px 42px;
}

.box-xyn {
    background: repeating-linear-gradient(60deg, #fb3, #fb3 15px, #58a 15px, #58a 30px);
}

.box-se {
    background: #58a;
    background-image: repeating-linear-gradient(30deg,
                        hsla(0, 0%, 100%, .1),
                        hsla(0, 0%, 100%, .1) 15px,
                        transparent 15px, transparent 30px);
}

.box-gridding {
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 50%),
                      linear-gradient(0deg, rgba(200, 0, 0, .5) 50%, transparent 50%);
    background-size: 30px 30px;
}

.box-assist {
    background: #58a;
    background-image: linear-gradient(90deg, white 2px, transparent 2px),
                      linear-gradient(0deg, white 2px, transparent 2px),
                      linear-gradient(0deg, hsla(0, 0%, 100%, .3) 1px, transparent 1px),
                      linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 1px);

    background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}

.box-point {
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 30%),
                      radial-gradient(tan 30%, transparent 30%);

    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}

.box-board {
    background: #eee;
    background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%),
                      linear-gradient(225deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%);

    background-size: 30px 30px;
    background-position: 15px 15px, 0 0;
}

.box-svg {
    background: #eee url('data:image/svg+xml, \
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25"> \
                        <rect x="50" width="50" height="50" /> \
                        <rect y="50" width="50" height="50" /> \
                    </svg>');
    background-size: 30px 30px;
}

.box-random1 {
    background: linear-gradient(90deg, #fb3 15%, #655 0, #655 40%, #ab4 0, #ab4 65%, hsl(20, 40%, 90%) 0);
    background-size: 80px 100%;
}

.box-random2 {
    width: 800px;
    color: #58a;
    background: hsl(20, 40%, 90%);
    background-image: 
        linear-gradient(90deg, #fb3 10px, transparent 0),
        linear-gradient(90deg, #ab4 20px, transparent 0),
        linear-gradient(90deg, #655 20px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}

.box-border {
    width: 300px;
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white, white) padding-box,
                repeating-linear-gradient(-45deg, 
                     red 0, red 12.5%, 
                     transparent 0, transparent 25%,
                     #58a 0, #58a 37.5%, 
                     transparent 0, transparent 50%) 0 / 5em 5em;
}

@keyframes ants {
    to {
        background-position: 100%;
    }
}

.box-ant {
    padding: 1em;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
                repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 1em 1em;

    animation: ants 12s linear infinite;
}